64/
aib_channel_delay.txt
aib_config.txt
AN.DB/
ca_config_define.svi
config_aib_0.hex
csrc_debug/
.fsm.sch.verilog.xml
llink_config_define.svi
logs/
master_0_config_aib.dat
simv*
simv.daidir/
simv.vdb/
slave_0_config_aib.dat
smoke.txt
ucli.key
vcdplus.vpd
vc_hdrs.h
vcs.log
work.lib++/
ca_tb.history
ca_tb.log
waves.shm/
xcelium.d/
smoke_log.txt
